{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurnitureXD</title>
    <link rel="stylesheet" type="text/css" href="/css/swag.css">
    <style>
.p10{
display:{{post.but1}};
}
.user{
display :{{post.but2}};
}
.name{
display: {{post.but3}};
}
    </style>
</head>
<body>
<div>
    <a name="home"></a>
<img class ="i1"src="toa-heftiba-FV3GConVSss-unsplash.jpg">
    <div class="bar" id="home_id">
        <img src="img0.png" class="p0">
        <p class="p3">FurnitureXD</p>
        <a href="#home"><p class="p4">Home</p></a>
        <a href="index2.html"><p class="p5">Bedroom</p></a>
        <a href="index1.html"> <p class="p6">Dining</p></a>
        <a href="index3.html"> <p class="p7">Living</p></a>
        <a href="#about"> <p class="p8">About</p></a>
        <a href="#contact"><p class="p9">Contact</p></a>
        <a href="login.html" ><button id="login_button" class="p10">Login/Register</button></a>
        <img id="user_image"class="user" src="img_20.jpeg">
        <p id="name_login" class="name" >{{post.but4}}</p>
    </div>
    <p class ="p1">Furniture For All Your Needs</p>
    <p class="p2">Get creative and experiment with home furniture designs that have been uniquely crafted for different areas of the home.</p>
    <a href="#dining"><p class="p11">Lets go Shopping </p></a>
</div>
<div><img class ="i2"src="img.png"></div>
<div class="i3">
    <a name="dining"></a>
    <p class="b1">DINING FURNITURE</p>
    <p class="b2">Your dining room is a place where your family and friends come together and bond – be it over the quick breakfast every morning or usual dinner every night or leisurely Sunday brunch. Yet, it is hardly ever a priority when setting up a home. Get inspired and celebrate your signature style when you furnish this extremely useful room in your home. </p>
    <a href="/signup"><p class="button1">Buy Now</p></a>
    <img class="b3" src="img_1.png">
</div>
<div class="i4">
    <a name="living"></a>
    <p class="b1">LIVING ROOM FURNITURE</p>
    <p class="b2">It is very important to decorate the house, at least once a year. You can change the home decor of the furniture. You can also change the color of furniture or replace old furniture with new furniture. The color of furniture can provide a combination of cool to decorate the living room. The new room you are remodeling or redecorating is definitely going to be awesome with furniturexd!!
    </p>
    <a href="index3.html"><p class="button2">Buy Now</p></a>
    <img class="l3" src="img_2.png">
</div>
<div class="i5">
    <a name="bedroom"></a>
    <p class="b1">BEDROOM FURNITURE</p>
    <p class="b2">An empty bedroom is like a blank canvas and the person who inhabits the bedroom is the artist. This artist sets up their room according to their unique likes, style, and personality. Everything in their room helps define the artist as a person. You could learn so much about a person by just taking a look inside of their room. You can easily tell which
        door leads to my bedroom because if the way it looks.</p>
    <a href="index2.html"><p class="button3">Buy Now</p></a>
    <img class="l4" src="img_3.png">
</div>
<div class="i6">
    <a name="about"></a>
<!--    <img class="l5" src="img_4.png">-->
<!--    <p class="g1">About Us</p>-->
<!--    <p class="g2">Welcome to FurnitureXD, your number one place for all good furniture. We're dedicated to providing you the very best of furniture, with an emphasis on Dining room,Living room and Bedroom.-->
<!--        Founded in 2021 by  Steyn,Sireesh,Stephen FurnitureXD has come a long way from its beginning. When we first started out, our  passion for E-commerce  Business in India  drove us to start our  business.-->
<!--<br><br>-->
<!--        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.-->
<!--<br><br>-->
<!--        Sincerely,<br>-->
<!--        Steyn|Sireesh|Stephen</p>-->
    <div class="about-section">
        <h1>About Us </h1>
        <p>Welcome to FurnitureXD, your number one place for all good furniture. We're dedicated to providing you the very best of furniture, with an emphasis on Dining room,Living room and Bedroom.
            Founded in 2021 by  Steyn,Sireesh,Stephen FurnitureXD has come a long way from its beginning. When we first started out, our  passion for E-commerce  Business in India  drove us to start our  business.
            <br><br>
            We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
            <br><br></p>
<!--        <p>Resize the browser window to see that this page is responsive by the way.</p>-->
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="img_47.jpeg" alt="Jane" style="width:60%" height="300px">
                <div class="container">
                    <h2>Abhinav Stephen</h2>
                    <p class="title">BML MUNJAL UNIVERSITY</p>
                    <p>Engineering 2nd  Year</p>
                    <p>abhinavstephan@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="img_46.jpg" alt="Mike" style="width:60%" height="300px">
                <div class="container">
                    <h2>Sireesh Reddy</h2>
                    <p class="title">BML MUNJAL UNIVERSITY</p>
                    <p>Engineering 2nd  Year</p>
                    <p>sireeshr001@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" >
                <img src="img_45.jpeg" alt="John" style="width:60%" height="300px">
                <div class="container">
                    <h2>Pranav Steyn</h2>
                    <p class="title">BML MUNJAL UNIVERSITY</p>
                    <p>Engineering 2nd  Year</p>
                    <p>steynpranav.7@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="i7">
    <a name="contact"></a>
    <img class="l6" src="img_5.png">
    <p class="g3">Contact Us</p>
    <p class="g4">support.furniturexd@gmail.com
        <br><br>
    Address:Flat no:144,Road no 7,Jubilee Hills,Hyderabad
        <br><br>

    Follow Us On</p>
</div>
<div class="i8">
    <p class="g5">FurnitureXD</p>
    <div class="g6">
        <a href="#home"> <p class="s1">Home</p></a>
        <a href="#about"> <p class="s2">About</p></a>
        <a href="#contact"> <p class="s3">Contact</p></a>
    </div>
</div>
</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurnitureXD</title>
    <link rel="stylesheet" type="text/css" href="/css/swag.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
       .p10{
    display:{{post.but1}};
    }
    .user{
    display :{{post.but2}};
    }
    .name{
    display: {{post.but3}};}
    .q11{
        display: none;
    }
    </style>
</head>
<body>
<div>
    <a name="home"></a>
<img class ="i1" id="im1">
    <div class="bar" id="home_id">
        <img id="im0" class="p0">
        <p class="p3" id="j5"></p>
        <a href="/"><p class="p4" id="j6" ></p></a>
        <a href="/bedroom"><p class="p5" id="j7"></p></a>
        <a href="/dining"><p class="p6"id="j8"></p></a>
        <a href="/living"> <p class="p7"id="j9"></p></a>
        <a href="#about"> <p class="p8"id="j10"></p></a>
        <a href="#contact"><p class="p9"id="j11"></p></a>
        <a href="/login" ><button id="login_button" class="p10">Login/Register</button></a>
        <a href="/signout" ><button id="signout_button" class="q11">Sign Out</button></a>
        <img id="user_image"class="user" src="images/img_20.jpeg">
        <p id="name_login" class="name">{{post.but4}}</p>
    </div>
    <p class ="p1"id="j12"></p>
    <p class="p2"id="j13"></p>
 ,   <a href="#dining"><p class="p11">Lets go Shopping </p></a>
</div>
<div><img class ="i2" id="im2"></div>
<div class="i3">
    <a name="dining"></a>
    <p class="b1"id="j14"></p>
    <p class="b2"id="j15"></p>
    <a href="/dining"><p class="button1">Buy Now</p></a>
    <img class="b3" id="im3">
</div>
<div class="i4">
    <a name="living"></a>
    <p class="b1"id="j16"></p>
    <p class="b2"id="j17">
    </p>
    <a href="/living"><p class="button2">Buy Now</p></a>
    <img class="l3" id="im4">
</div>
<div class="i5">
    <a name="bedroom"></a>
    <p class="b1"id="j18"></p>
    <p class="b2"id="j19"></p>
    <a href="/bedroom"><p class="button3">Buy Now</p></a>
    <img class="l4" id="im5">
</div>
<div class="i6">
    <a name="about"></a>
<!--    <img class="l5" src="img_4.png">-->
<!--    <p class="g1">About Us</p>-->
<!--    <p class="g2">Welcome to FurnitureXD, your number one place for all good furniture. We're dedicated to providing you the very best of furniture, with an emphasis on Dining room,Living room and Bedroom.-->
<!--        Founded in 2021 by  Steyn,Sireesh,Stephen FurnitureXD has come a long way from its beginning. When we first started out, our  passion for E-commerce  Business in India  drove us to start our  business.-->
<!--<br><br>-->
<!--        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.-->
<!--<br><br>-->
<!--        Sincerely,<br>-->
<!--        Steyn|Sireesh|Stephen</p>-->
    <div class="about-section">
        <h1 id="j20"> </h1>
        <p id="j21"></p>
<!--        <p>Resize the browser window to see that this page is responsive by the way.</p>-->
    </div>

    <h2 style="text-align:center" id="j22"></h2>
    <div class="row">
        <div class="column">
            <div class="card">
                
                <div class="container" style="text-align:center">
                    <img class="d1" id="im6" alt="abhinav" style="width:60%" height="300px">
                    <h2 id="j23"></h2>
                    <p class="title" id="j24"></p>
                    <p id="j25"></p>
                    <p id="j26"></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container" style="text-align:center">
                    <img class="d2" id="im7"alt="Sireesh" style="width:60%" height="300px">
                    <h2 id="j27"></h2>
                    <p class="title" id="j28"></p>
                    <p id="j29"></p>
                    <p id="j30"></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" >
                <div class="container" style="text-align:center">
                    <img class="d3" id="im8" alt="Pranav" style="width:60%" height="300px">
                    <h2 id="j31"></h2>
                    <p class="title" id="j32"></p>
                    <p id="j33"></p>
                    <p id="j34"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="i7">
    <a name="contact"></a>
    <p class="g3"id="j35"></p>
    <p class="g4"id="j36"></p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="https://twitter.com/DFurniturex" target="_blank" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="https://in.pinterest.com/steynpranav8/furniturexd/"target="_blank" class="fa fa-pinterest"></a>
</div>
<div class="i8">
    <p class="g5">FurnitureXD</p>
    <div class="g6">
        <a href="#home"> <p class="s1" id="j37"></p></a>
        <a href="#about"> <p class="s2" id="j38"></p></a>
    </div>
</div>
</body>
<script>
    let json="/css/Home.json";
    let httprequest = new XMLHttpRequest();
    httprequest.open('GET',json);
    httprequest.responseType='json';
    httprequest.send();
    httprequest.onload=function(){
        const jdata=httprequest.response;
        gettext(jdata);
    }
    function gettext(obj){
        document.getElementById('j5').innerHTML=obj['title1'];
        document.getElementById('j6').innerHTML=obj['title2'];
        document.getElementById('j7').innerHTML=obj['title3'];
        document.getElementById('j8').innerHTML=obj['title4'];
        document.getElementById('j9').innerHTML=obj['title5'];
        document.getElementById('j10').innerHTML=obj['title6'];
        document.getElementById('j11').innerHTML=obj['title7'];
        document.getElementById('j12').innerHTML=obj['title8'];
        document.getElementById('j13').innerHTML=obj['info'];
        document.getElementById('j14').innerHTML=obj['Dininghead'];
        document.getElementById('j15').innerHTML=obj['Dininginfo'];
        document.getElementById('j16').innerHTML=obj['Livinghead'];
        document.getElementById('j17').innerHTML=obj['Livinginfo'];
        document.getElementById('j18').innerHTML=obj['Bedroomhead'];
        document.getElementById('j19').innerHTML=obj['Bedroominfo'];
        document.getElementById('j20').innerHTML=obj['aboutushead'];
        document.getElementById('j21').innerHTML=obj['aboutusinfo'];
        document.getElementById('j22').innerHTML=obj['teamhead'];
        document.getElementById('j35').innerHTML=obj['contacthead'];
        document.getElementById('j36').innerHTML=obj['contactmail'];
        document.getElementById('j23').innerHTML=obj['name1'];
        document.getElementById('j24').innerHTML=obj['university1'];
        document.getElementById('j25').innerHTML=obj['year1'];
        document.getElementById('j26').innerHTML=obj['mail1'];
        document.getElementById('j27').innerHTML=obj['name2'];
        document.getElementById('j28').innerHTML=obj['university2'];
        document.getElementById('j29').innerHTML=obj['year2'];
        document.getElementById('j30').innerHTML=obj['mail2'];
        document.getElementById('j31').innerHTML=obj['name3'];
        document.getElementById('j32').innerHTML=obj['university3'];
        document.getElementById('j33').innerHTML=obj['year3'];
        document.getElementById('j34').innerHTML=obj['mail3'];
         document.getElementById('j37').innerHTML=obj['title2'];
        document.getElementById('j38').innerHTML=obj['title6'];
        document.getElementById('im0').src=obj['image0'];
        document.getElementById('im1').src=obj['image1'];
        document.getElementById('im2').src=obj['image2'];
        document.getElementById('im3').src=obj['image3'];
        document.getElementById('im4').src=obj['image4'];
        document.getElementById('im5').src=obj['image5'];
        document.getElementById('im6').src=obj['image6'];
        document.getElementById('im7').src=obj['image7'];
        document.getElementById('im8').src=obj['image8'];
    }
    let h=document.getElementById('name_login');
    let g=document.getElementById('signout_button');
    h.addEventListener("mouseenter",sign1);
    function sign1(){
        h.style.display="none";
        document.getElementById('user_image').style.display="none";
        g.style.display="inline";
    }
h.addEventListener("mouseleave",sign2);
function sign2(){
    h.style.display="inline";
    document.getElementById('user_image').style.display="inline";
    g.style.display="none";
}
</script>
</html>
